@import "../main/parameters";

.radio-item {
  display: inline-block;
  margin: 0 19px 15px 0;
  .label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    padding: 15px 30px 15px 20px;
    transition: all ease 0.4s;
  }
  img {
    margin: 0 22px 0 0;
    height: 22px;
    width: auto;
  }
  .text {
    font-weight: 600;
    font-size: 20px;
    color: #74707C;
    transition: all ease 0.4s;
  }
  input {
    display: none;
    &:checked + .label {
      border-color: $c-primary;
      background: #fff;
      transition: all ease 0.4s;
      img {}
      .text {
        color: $c-primary;
        transition: all ease 0.4s;
      }
    }
  }
  .imgs {
    display: flex;
    align-items: center;
    img {}
  }
}
.checkbox-item {
  display: inline-block;
  margin: 0 6px 10px 0;
  .label {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    border: 1px solid #E1DBDB;
    background: #fff;
    border-radius: 3px;
    padding: 5px 11px;
    transition: all ease 0.4s;
    b {
      display: none;
    }
  }
  input {
    display: none;
    &:checked + .label {
      border-color: $c-primary;
      background: $c-primary;
      color: #fff;
      transition: all ease 0.4s;
      img {}
      .text {
        color: $c-primary;
        transition: all ease 0.4s;
      }
    }
  }
}

.fieldgroup {
  position: relative;
  margin: 0 0 22px;
  .label {
    display: block;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    color: #737373;
    margin: 0 0 7px;
  }
  .input {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #727272;
  }
  .textarea {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    font-size: 14px;
    padding: 10px 15px;
    color: #727272;
  }

  .error-mess {
    font-size: 12px;
    line-height: 15px;
    color: $c-primary;
    text-align: right;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
  }

  .radio-item {
    display: inline-block;
    margin: 0;
    .label {
      text-transform: initial;
      cursor: pointer;
      display: block;
      background: rgba(0,0,0,0.0);
      border: 0;
      border-radius: 0;
      padding: 0;
      margin: 0;
    }
    .text {
      padding-left: 35px;
      display: block;
      font-weight: 500;
      font-size: 15px;
      line-height: 26px;
      color: $c-text4;
      position: relative;
      margin: 0 0 3px;
      &::before {
        content: '';
        position: absolute;
        top: 1px;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #BABABA;
        border-radius: 50%;
      }
    }
    .text2 {
      font-weight: 400;
      padding-left: 35px;
      display: block;
      font-size: 14px;
      line-height: 20px;
      color: $c-text4;
      margin: 5px 0 0;
    }
    input {
      //display: none;
      opacity: 0;
      visibility: hidden;
      height: 1px;
      width: 1px;
      position: absolute;
      z-index: -1;
      &:checked + .label {
        .text {
          color: $c-text4;
          &::before {
            border: 1px solid $c-primary;
            background: radial-gradient(#DB332D 0%, #DB332D 25%, transparent 35%, transparent);
          }
        }
      }
    }
  }
  .radio-item--big {
    display: block;
    .label {
      min-height: 80px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      border: 1px solid rgba(0,0,0,0.0);
      padding: 20px 20px 17px;
      background: #FFFFFF;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
    input {
      &:checked + .label {
        border-color: $c-primary;
      }
    }
  }

  .checkbox-item {
    display: block;
    margin: 0 0 15px;
    .label {
      display: block;
      position: relative;
      padding: 0 20px 0 35px;
      border: 0;
      background: rgba(0,0,0,0.0);
      color: $c-text4;
      border-radius: 0;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -3px;
        height: 18px;
        width: 18px;
        border: 1px solid #C7CCD7;
        border-radius: 3px;
      }
      b {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        color: #878787;
        font-weight: normal;
      }
    }
    input {
      &:checked + .label {
        background: rgba(0,0,0,0.0);
        color: $c-text4;
        transition: all ease 0.4s;
        &::before {
          border-color: $c-primary;
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1287 1.42861L10.8179 1.11808C10.4766 0.776069 9.9174 0.776069 9.57503 1.11808L4.29682 6.39702L2.42389 4.52482C2.0826 4.18316 1.52308 4.18316 1.18179 4.52518L0.871262 4.83534C0.529973 5.17699 0.529973 5.73615 0.871262 6.07781L3.67395 8.88339C4.01561 9.22468 4.57477 9.22468 4.91642 8.88339L11.1287 2.67107C11.4697 2.32942 11.4697 1.77026 11.1287 1.42861Z' fill='%23DB332D'/%3E%3C/svg%3E%0A");
          background-size: 10px 15px;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }

  &.has-error {
    .input,
    .textarea {
      border-color: $c-primary;
    }
    .error-mess {
      display: block;
    }
  }
}
.fieldgroup--modal {
  margin: 0 0 34px;
  .label {
    margin: 0 0 10px;
  }
  .input {
    height: 44px;
    line-height: 44px;
  }
}
.fieldgroup--remember {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .checkbox-item .label {
    text-transform: initial;
    font-size: 13px;
    color: $c-text4;
  }
  a {
    font-size: 13px;
  }
}

.fieldgroup--success {
  margin: 0 0 20px;
  .checkbox-item .label {
    text-transform: initial;
    font-size: 13px;
  }
}

@media (max-width: $sm - 1) {
  .fieldgroup {
    .radio-item {
      .text {
        font-size: 13px;
        line-height: 21px;
      }
      .text2 {
        font-size: 13px;
      }
    }
    .radio-item--big {
      .label {
        padding: 13px 10px 12px;
      }
    }
    .textarea {
      min-height: 80px;
    }
  }
  .fieldgroup--modal {
    margin: 0 0 29px;
  }
  .fieldgroup--remember {
    display: block;
  }
  .fieldgroup--success {
    .checkbox-item .label {
      font-size: 12px;
    }
  }
}

.fieldgroup--mt {
  margin-top: 20px;
}
.fieldgroup--mb {
  margin-bottom: 35px;
}
.fieldgroup--mb-sm {
  margin-bottom: 15px;
}
@media (max-width: $sm - 1) {
  .fieldgroup--mt {
    margin-top: 0;
  }
  .fieldgroup--mb {
    margin-bottom: 24px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.counter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  .disabled-text {
    position: absolute;
    bottom: 100%;
    left: 0;
    display: none;
    width: 100%;
    text-align: center;
    color: $c-primary;
    font-size: 12px;
  }
  &__input {
    position: relative;
    display: block;
    max-width: 40%;
    flex: 0 0 40%;
    font-size: 14px;
    height: 46px;
    line-height: 46px;
    padding: 0 5px;
    text-align: center;
    color: #2E2C34;
    outline: none;
    background-color: #fff;
  }
  &__btn {
    position: relative;
    flex-shrink: 0;
    width: 30%;
    height: 46px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #9E9E9E;
    background: #fff;
    font-size: 0;
    &:before, &:after {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      left: calc(50% - 5px);
      display: block;
      width: 16px;
      height: 2px;
      background: #9E9E9E;
    }
    &:before {
      transform: rotate(-90deg);
    }
    &[disabled], &.disabled {
      cursor: default;
      &:before, &:after {
        opacity: 0.5;
      }
      &:hover {
        &::before,
        &::after {
          background: #9E9E9E;
        }
      }
    }
    &:hover {
      &::before,
      &::after {
        background: $c-primary;
      }
    }
  }
  &__minus {
    order: -1;
    &:before {
      display: none;
    }
  }
  &__plus {
    &[disabled], &.disabled {
      & ~ .disabled-text {
        display: block;
      }
    }
  }
}

.counter--sm {
  max-width: 100%;
  .counter {
    &__input {
      height: 38px;
      line-height: 38px;
    }
    &__btn {
      height: 38px;
      line-height: 38px;
    }
    &__minus {}
    &__plus {}
  }
}
