@import "../main/parameters";

.product-connected-sl {
  &__wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  &__main {
    max-width: 472px;
    flex: 0 0 472px;
    margin: 0 50px 0 0;
  }
  &__nav {
    padding: 20px 0;
    max-width: 75px;
    flex: 0 0 75px;
    position: relative;
    .swiper-container {
      height: 420px;
    }
    .swiper-slide {
      border: 1px solid rgba(0,0,0,0.0);
      height: 75px;
      max-height: 75px;
    }
    .swiper-slide-thumb-active {
      border: 1px solid $c-primary;
      border-radius: 4px;
    }
    .swiper-button-prev {
      top: 10px!important;
      bottom: auto!important;
      transform: rotate(90deg);
      border: 0;
    }
    .swiper-button-next {
      bottom: -5px!important;
      top: auto!important;
      transform: rotate(90deg);
      border: 0;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
      border-color: #4F4F4F;
    }
  }
  &__link {
    display: block;
  }
  &__img {
    max-width: 100%;
  }
}

@media (max-width: $lg - 1) and (min-width: $md) {
  .product-connected-sl {
    &__main {
      max-width: 295px;
      flex: 0 0 295px;
      margin: 0;
    }
    &__nav {
      max-width: 50px;
      flex: 0 0 50px;
      .swiper-container {
        height: 350px;
      }
      .swiper-slide {
        max-height: 50px;
      }
    }
  }
}
@media (max-width: $md - 1) and (min-width: $sm) {
  .product-connected-sl {
    &__wrap {
      margin-bottom: 50px;
    }
    &__main {
      margin: 0;
    }
    &__nav {}
  }
}
@media (max-width: $sm - 1) and (min-width: $xs) {
  .product-connected-sl {
    &__wrap {
      margin-bottom: 30px;
    }
    &__main {
      max-width: 400px;
      flex: 0 0 400px;
      margin: 0;
    }
    &__nav {
      max-width: 50px;
      flex: 0 0 50px;
      .swiper-container {
        height: 350px;
      }
      .swiper-slide {
        max-height: 50px;
      }
    }
  }
}
@media (max-width: $xs - 1) {
  .product-connected-sl {
    &__wrap {
      margin-bottom: 30px;
    }
    &__main {
      max-width: 225px;
      flex: 0 0 225px;
      margin: 0 auto;
    }
    &__nav {
      padding: 15px 0;
      max-width: 42px;
      flex: 0 0 42px;
      .swiper-container {
        height: 185px;
      }
      .swiper-button-prev,
      .swiper-container-rtl .swiper-button-next {
        left: 4px;
      }
      .swiper-button-next,
      .swiper-container-rtl .swiper-button-prev {
        right: 4px;
      }
      .swiper-slide {
        max-height: 42px;
        min-height: 42px;
      }
    }
  }
}