@import "../main/parameters";

.sort-block {
  background: #F8F8F8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 21px;
  margin: 0 0 27px;
  &__sorting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: #74707C;
  }
  &__icon {
    display: block;
    height: 14px;
    margin: 0 5px 0 0;
    .icon {
      height: 14px;
      width: 18px;
      fill: $c-primary;
    }
  }
  &__title {
    margin: 0 10px 0 0;
    .icon {
      display: none;
    }
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    color: inherit;
    margin: 0 17px 0 0;
    &.active {
      font-weight: 600;
      color: $c-text;
    }
  }
  &__views {
    display: flex;
    align-items: center;
    .icon-list {
      display: block;
      margin: 0 25px 0 0;
      .icon {
        height: 24px;
        width: 24px;
        fill: #B1B0B4;
      }
      &.active {
        .icon {
          fill: $c-primary;
        }
      }
    }
    .icon-grid {
      .icon {
        fill: #B1B0B4;
        width: 24px;
        height: 24px;
      }
      &.active {
        .icon {
          fill: $c-primary;
        }
      }
    }
  }
  &__filters {
    @media (min-width: $md) {
      display: none;
    }
    .icon {
      fill: $c-primary;
      width: 24px;
      height: 21px;
    }
  }
}

@media (max-width: $md - 1) {
  .sort-block {
    &__views {
      margin: 0 30px 0 auto;
    }
  }
}
@media (max-width: $sm - 1) {
  .sort-block {
    position: relative;
    margin: 0;
    &__views {
      order: 1;
      margin: 0 15px 0 0;
      & > a {
        display: none!important;
        margin: 0!important;
        &.active {
          display: block!important;
        }
      }
    }
    &__sorting {
      order: 2;
    }
    &__icon {
      display: none;
    }
    &__title {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding-right: 15px;
      .js-active {
        padding-left: 5px;
        text-transform: lowercase;
      }
      .icon {
        position: absolute;
        top: 3px;
        right: 0;
        margin-left: 5px;
        display: block;
        height: 9px;
        width: 13px;
        fill: #423D4A;
      }
    }
    &__body {
      display: none;
      position: absolute;
      z-index: 102;
      top: calc(100% + 5px);
      left: 0;
      right: 0;
      width: 100%;
      background: #F8F8F8;
      border-radius: 5px;
      padding: 17px 21px;
      flex-wrap: wrap;
    }
    &__filters {
      order: 3;
      margin: 0 0 0 15px;
    }
  }
}
@media (max-width: $xs - 1) {
  .sort-block {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
    padding: 6px 15px;
  }
  .sort-block__title .js-active {
    width: 100%;
    text-align: center;
  }
}