+b.active-filters-block
    +e.__item
        span Цена от 1 000 р до 5 000 р
        span.js-remove.remove
            +icon('i-delete')
    +e.__item
        span Rommelsbacher
        span.js-remove.remove
            +icon('i-delete')