+b('aside').aside.aside--personal
    +e('ul').__plist
        li.active
            a(href="/") История заказов
        li
            a(href="/") Личные данные
        li
            a(href="/") Адресная книга
        li
            a(href="/") Мои отзывы
        li
            a(href="/") Подписки