include brand-item-sm

+b('section').brands-slider
    .container
        +e.__title.section-title Бренды
        +e.__swiper.swiper.js-swiper-brands
            .swiper-container
                .swiper-wrapper
                    +e.__slide.swiper-slide
                        +brand-item-sm({
                            img: './assets/imgs/brand1.svg',
                            title: 'AEG',
                        })
                        +brand-item-sm({
                            img: './assets/imgs/brand2.svg',
                            title: 'CASO',
                        })
                        +brand-item-sm({
                            img: './assets/imgs/brand3.svg',
                            title: 'ellrona',
                        })
                        +brand-item-sm({
                            img: './assets/imgs/brand4.svg',
                            title: 'profiCook',
                        })
                        +brand-item-sm({
                            img: './assets/imgs/brand5.svg',
                            title: 'tristar',
                        })
                        +brand-item-sm({
                            img: './assets/imgs/brand6.svg',
                            title: 'rommelsbacher',
                        })
                        +brand-item-sm({
                            img: './assets/imgs/brand7.svg',
                            title: 'emerio',
                        })
                        +brand-item-sm({
                            img: './assets/imgs/brand8.svg',
                            title: 'temptech',
                        })
                    +e.__slide.swiper-slide
                        +brand-item-sm({
                            img: './assets/imgs/brand1.svg',
                            title: 'AEG',
                        })
                        +brand-item-sm({
                            img: './assets/imgs/brand2.svg',
                            title: 'CASO',
                        })
                        +brand-item-sm({
                            img: './assets/imgs/brand3.svg',
                            title: 'ellrona',
                        })
                        +brand-item-sm({
                            img: './assets/imgs/brand4.svg',
                            title: 'profiCook',
                        })
                        +brand-item-sm({
                            img: './assets/imgs/brand5.svg',
                            title: 'tristar',
                        })
                        +brand-item-sm({
                            img: './assets/imgs/brand6.svg',
                            title: 'rommelsbacher',
                        })
                        +brand-item-sm({
                            img: './assets/imgs/brand7.svg',
                            title: 'emerio',
                        })
                        +brand-item-sm({
                            img: './assets/imgs/brand8.svg',
                            title: 'temptech',
                        })
            .swiper-button-prev.swiper-button-prev--tr
            .swiper-button-next.swiper-button-next--tr