+b.catalog-nav
    +e('ul').__vendors
        li
            a(href="") AEG
        li.active
            a(href="") CASO
        li
            a(href="") Ellrona
        li
            a(href="") Princess
        li
            a(href="") Profi Cook
        li
            a(href="") Solis
        li
            a(href="") Steba
        li
            a(href="") Bomann
        li
            a(href="") Rommelsbacher
        li
            a(href="") Status
        li
            a(href="") Tristar
        li
            a(href="") Clatronic
        li
            a(href="") Emerio
        li
            a(href="") Profi Care
    +e('ul').__items
        li
            a(href="") Винные шкафы
        li
            a(href="") Кофемашины
        li
            a(href="") Вафельницы
        li
            a(href="") Вакууматоры
        li
            a(href="") Чайники
        li
            a(href="") Диспенсеры воды
        li
            a(href="") Пылесосы
        li
            a(href="") Фены
        li
            a(href="") Мультиварки
        li
            a(href="") Мини-печи
        li
            a(href="") Блендеры
        li
            a(href="") Фритюрницы