+b.catalog-popular
    +e.__swiper.swiper.js-swiper-catalog-popular
        .swiper-container
            .swiper-wrapper
                +e.__slide.swiper-slide
                    +b.catalog-item.catalog-item--sl
                        +e('a').__img-wrap(href="/")
                            +e('img').__img.swiper-lazy(
                                data-src='./assets/imgs/photo1.jpg'
                                alt='')
                            span.catalog-item__img-title Вакууматоры
                +e.__slide.swiper-slide
                    +b.catalog-item.catalog-item--sl
                        +e('a').__img-wrap(href="/")
                            +e('img').__img.swiper-lazy(
                                data-src='./assets/imgs/photo1.jpg'
                                alt='')
                            span.catalog-item__img-title Вакууматоры
.catalog-items
    .catalog-item.row
        .col-lg-6
            +lazy-bg({
                img: './assets/imgs/photo1.jpg',
                img_mod: 'catalog-item__img',
                wrap_mod: 'catalog-item__img-wrap',
                link: true,
                aria_label: true,
            })
                span.catalog-item__img-title Вакуумные упаковщики
        .col-lg-6
            .catalog-item__title Упаковка
            ul.catalog-item__list
                li
                    a(href="") Вакуумные упаковщики
                li
                    a(href="") Упаковочный материал
                li
                    a(href="") Контейнеры
    .catalog-item.row
        .col-lg-6
            +lazy-bg({
                img: './assets/imgs/photo2.jpg',
                img_mod: 'catalog-item__img',
                wrap_mod: 'catalog-item__img-wrap',
                link: true,
                aria_label: true,
            })
                span.catalog-item__img-title Мультиварки
        .col-lg-6
            .catalog-item__title Варка, Sous-Vide
            ul.catalog-item__list
                li
                    a(href="") Мультиварки
                li
                    a(href="") Яйцеварки
                li
                    a(href="") Скороварки
    .catalog-item.row
        .col-lg-6
            +lazy-bg({
                img: './assets/imgs/photo3.jpg',
                img_mod: 'catalog-item__img',
                wrap_mod: 'catalog-item__img-wrap',
                link: true,
                aria_label: true,
            })
                span.catalog-item__img-title Грили
        .col-lg-6
            .catalog-item__title Выпечка, жарка, фритюр
            ul.catalog-item__list
                li
                    a(href="") Грили
                li
                    a(href="") Раклетницы
                li
                    a(href="") Блинницы
                li
                    a(href="") Вафельницы
                li
                    a(href="") Сендвичницы
                li
                    a(href="") Пицца мейкеры
                li
                    a(href="") Маффин мейкеры
                li
                    a(href="") Пончик мейкеры
                li
                    a(href="") Тостеры
                li
                    a(href="") Фритюрницы
    .catalog-item.row
        .col-lg-6
            +lazy-bg({
                img: './assets/imgs/photo4.jpg',
                img_mod: 'catalog-item__img',
                wrap_mod: 'catalog-item__img-wrap',
                link: true,
                aria_label: true,
            })
                span.catalog-item__img-title СВЧ
        .col-lg-6
            .catalog-item__title Печи, плиты, духовки
            ul.catalog-item__list
                li
                    a(href="") Мини-печи
                li
                    a(href="") СВЧ
                li
                    a(href="") Плиты настольные
                li
                    a(href="") Хлебопечки
    .catalog-item.row
        .col-lg-6
            +lazy-bg({
                img: './assets/imgs/photo5.jpg',
                img_mod: 'catalog-item__img',
                wrap_mod: 'catalog-item__img-wrap',
                link: true,
                aria_label: true,
            })
                span.catalog-item__img-title Блендеры
        .col-lg-6
            .catalog-item__title Резка, измельчение, смешивание
            ul.catalog-item__list
                li
                    a(href="") Блендеры
                li
                    a(href="") Измельчители
                li
                    a(href="") Кухонные процессоры
                li
                    a(href="") Ломтерезки
                li
                    a(href="") Мультирезки
                li
                    a(href="") Овощерезки
                li
                    a(href="") Миксеры
                li
                    a(href="") Мясорубки
    .catalog-item.row
        .col-lg-6
            +lazy-bg({
                img: './assets/imgs/photo6.jpg',
                img_mod: 'catalog-item__img',
                wrap_mod: 'catalog-item__img-wrap',
                link: true,
                aria_label: true,
            })
                span.catalog-item__img-title Винные шкафы
        .col-lg-6
            .catalog-item__title Холод, мороз, лёд
            ul.catalog-item__list
                li
                    a(href="") Холодильники
                li
                    a(href="") Морозильники
                li
                    a(href="") Винные шкафы
                li
                    a(href="") Льдогенераторы
                li
                    a(href="") Мороженницы
    .catalog-item.row
        .col-lg-6
            +lazy-bg({
                img: './assets/imgs/photo7.jpg',
                img_mod: 'catalog-item__img',
                wrap_mod: 'catalog-item__img-wrap',
                link: true,
                aria_label: true,
            })
                span.catalog-item__img-title Кофемашины
        .col-lg-6
            .catalog-item__title Чай, кофе, сок
            ul.catalog-item__list
                li
                    a(href="") Диспенсеры воды
                li
                    a(href="") Чайники
                li
                    a(href="") Кофемашины
                li
                    a(href="") Кофеварки
                li
                    a(href="") Пеновзбиватели
                li
                    a(href="") Соковыжималки
                li
                    a(href="") Льдогенератор
                li
                    a(href="") Соковыжималки
                li
                    a(href="") Кофемолка
                li
                    a(href="") Соковарка
    .catalog-item.row
        .col-lg-6
            +lazy-bg({
                img: './assets/imgs/photo8.jpg',
                img_mod: 'catalog-item__img',
                wrap_mod: 'catalog-item__img-wrap',
                link: true,
                aria_label: true,
            })
                span.catalog-item__img-title Пакеты вакуумные
        .col-lg-6
            .catalog-item__title Кухонная мелочь
            ul.catalog-item__list
                li
                    a(href="") Вакуумные контейнеры
                li
                    a(href="") Пакеты вакуумные
                li
                    a(href="") Рулоны вакуумные
                li
                    a(href="") Пакеты ZIP
                li
                    a(href="") Камень для пиццы
                li
                    a(href="") Овощерезки и измельчители
                li
                    a(href="") Пресс для бургеров
                li
                    a(href="") Для ароматизации
                li
                    a(href="") Термометр
    .catalog-item.row
        .col-lg-6
            +lazy-bg({
                img: './assets/imgs/photo1.jpg',
                img_mod: 'catalog-item__img',
                wrap_mod: 'catalog-item__img-wrap',
                link: true,
                aria_label: true,
            })
                span.catalog-item__img-title Пылесосы
        .col-lg-6
            .catalog-item__title Чистота и комфорт в доме
            ul.catalog-item__list
                li
                    a(href="") Осушители
                li
                    a(href="") Очистители
                li
                    a(href="") Увлажнители
                li
                    a(href="") Вентиляторы
                li
                    a(href="") Пылесосы
                li
                    a(href="") Роботы-пылесосы
    .catalog-item.row
        .col-lg-6
            +lazy-bg({
                img: './assets/imgs/photo10.jpg',
                img_mod: 'catalog-item__img',
                wrap_mod: 'catalog-item__img-wrap',
                link: true,
                aria_label: true,
            })
                span.catalog-item__img-title Фены
        .col-lg-6
            .catalog-item__title Красота и здоровье
            ul.catalog-item__list
                li
                    a(href="") Весы напольные
                li
                    a(href="") Фены
                li
                    a(href="") Зубные центры
                li
                    a(href="") Массажёры
                li
                    a(href="") Электропемза