extends layout/layout

block vars
    - var pageTitle = 'Блог - Обзор'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    include components/breadcrumb
    +breadcrumb({
        content1: 'Блог',
        href_content1: 'index.html',
        content2: 'Обзоры'
    })
    +b('section').pageheader
        .container
            +e('h1').__title.h1 Обзор кофемашины Rommelsbacher EKS 2000
    +b.content-page.content.container
        +e.__inner
            img(src="./assets/imgs/blog.jpg" alt="img")
            h2 Приготовление кофе (h2)
            p Агрегат представляет собой рожковую кофеварку с ручным капучинатором без насадки. Это довольно внушительная по внешнему виду эспрессо-машина с максимальным давлением 19 бар. Корпус модели металлический, за счет материала и геометрически строгих форм машина выглядит довольно серьезно. Прибор обладает стандартными функциями полуавтоматической рожковой кофеварки: приготовление эспрессо, взбивание молока в пену с помощью специальной трубки, подача горячей воды.
            ol
                li функция регулирования количества воды на порцию
                li металлический корпус и рожок
                li предварительное смачивание кофе
                li есть лифт подставки для чашки
            p Прибор обладает функцией регуляции объема воды на порцию. Для выбора оптимальной порции напитка необходимо удерживать переключатель режима приготовления кофе. Опция таким же образом работает на режиме двух чашек. У этой эспрессницы есть функция предварительного смачивания кофе. После включения режима приготовления напитка, машина подает несколько капель воды под давлением в ситечко, чтобы раскрыть аромат кофе. Через 5 секунд после смачивания начинается процесс проливания воды через рожок и напиток подается в чашку.
            p Для создания молочной пены, необходимо установить в прибор держатель без ситечка и переключить машину в режим подачи пара. Когда вода нагреется до нужной температуры, контрольная лампочка на панели начнет светиться непрерывно. Теперь нужно повернуть ручку подачи пара, предварительно подставив под трубку чашку, и в течение двух-трех секунд слить из системы оставшуюся воду. Теперь можно подставить под капучинатор сосуд с молоком и взбивать пену круговыми движениями, начиная с первой трети молока и постепенно опуская носик. Пену для капучино нужно делать из холодного молока, инструкция рекомендует использовать сосуд из нержавеющей стали. Стоит помнить, что во время приготовления молочной пены трубка подачи пара нагревается.
            img(src="./assets/imgs/blog2.jpg" alt="img")
            h3 Преимущества (h3)
            p Агрегат представляет собой рожковую кофеварку с ручным капучинатором без насадки. Это довольно внушительная по внешнему виду эспрессо-машина с максимальным давлением 19 бар. Корпус модели металлический, за счет материала и геометрически строгих форм машина выглядит довольно серьезно. Прибор обладает стандартными функциями полуавтоматической рожковой кофеварки: приготовление эспрессо, взбивание молока в пену с помощью специальной трубки, подача горячей воды.
            ul
                li функция регулирования количества воды на порцию
                li металлический корпус и рожок
                li предварительное смачивание кофе
                li есть лифт подставки для чашки
            h3 Уход за прибором (h3)
            p После каждого приготовления напитка, необходимо промыть держатель и ситечко вручную с помощью неабразивных средств. При необходимости надо прочистить отверстие в ситечке специальной иглой. Внутренний уплотнитель (часть прибора над рожком) можно очистить от остатков кофе с помощью влажной салфетки.
            img(src="./assets/imgs/blog3.jpg" alt="img")
            p Прибор работает с молотым кофе. Наилучший вкус у напитка будет, если использовать свежемолотый кофе. Для приготовления кофе под давлением необходимо использовать жерновые кофемолки, они создают однородный по размеру частиц кофе-порошок, в отличие от роторных. Если вы используете готовый молотый кофе, стоит убедиться, что он подходит для приготовления эспрессо. К держателю для кофе («рожку») прилагаются два ситечка: на одну и две порции.
            img(src="./assets/imgs/blog4.jpg" alt="img")
            p На ситечках соответственно нанесены картинки с изображением одной и двух ложек. Одна порция кофе составляет 7 гр. (одна мерная ложка). После помещения порции кофе в ситечко, необходимо распределить и уплотнить порошок с помощью темпера на обратной стороне ложки. На ободке рожка не должно быть кофейного порошка, иначе вы не сможете должным образом установить держатель в машину.
            h3 Технические характеристики
            table
                tr
                    td Количество групп
                    td 1
                tr
                    td Используемый кофе
                    td молотый / чалды
                tr
                    td Материал рожка
                    td металл
                tr
                    td Тип нагревателя
                    td термоблок
                tr
                    td Мощность
                    td 2225 Вт
                tr
                    td Объем
                    td 1.5 л
                tr
                    td Максимальное давление
                    td 19 бар
                tr
                    td Манометр
                    td нет
                tr
                    td Настройки
                    td регулировка порции горячей воды, предварительное смачивание
            h3.h3 Купить товар
            include components/product-item
            +product-item({
                mod_class: 'product-item--list',
                inSlider: false,
                img: './assets/imgs/product1.png',
                title: 'Кофемашина Rommelsbacher EKS 3010',
                list: true,
                price: '59 900 руб',
                review_stars: 3,
                review_count: '5 отзывов',
            })
    include components/products-slider
    +products-slider-sm({
        mod_class: 'products-slider--sm-title',
        title: 'Также будет интересно',
        badges: true,
    })

