extends layout/layout

block vars
    - var pageTitle = 'Каталог 1 уровень'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    include components/breadcrumb
    +breadcrumb({
        content1: 'Каталог'
    })
    +b('section').pageheader
        .container
            +e('h1').__title.h1 Каталог
    .container
        include components/catalog-nav
        include components/catalog-items

