extends layout/layout

block vars
    - var pageTitle = 'Доставка'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    include components/breadcrumb
    +breadcrumb({
        content1: 'Доставка',
    })
    +b('section').pageheader
        .container
            +e('h1').__title.h1 Доставка
    +b.info-page.container
        +b.info-item
            +e.__top
                +e.__img
                    +icon('i-delivery-man')
                +e.__right
                    +e.__title Курьерская доставка по Москве
                    +e.__title-sm в пределах МКАД и до 10 км от МКАД
            +e.__middle--flex
                +b.del-item
                    +e.__title Малогабаритный товар (весом до 15 кг)
                    +e.__list
                        +e.__li
                            +icon('i-time')
                            span Завтра
                        +e.__li
                            +icon('i-wallet')
                            span 300 Р
                +b.del-item
                    +e.__title Крупногабаритный товар
                    +e.__list
                        +e.__li
                            +icon('i-time')
                            span Завтра
                        +e.__li
                            +icon('i-wallet')
                            span Бесплатно
            +e.__bottom
                b Курьерская доставка заказов суммой до 2000 рублей осуществляется в течение 2 рабочих дней.</b>
                p Время доставки определяется исходя из возможностей курьерской службы и на основании пожеланий клиента. Минимальный временной интервал, в течение которого Вам необходимо находиться по месту доставки, составляет 4 часа.
        +b.info-item
            +e.__top
                +e.__img
                    +icon('i-delivery-man')
                +e.__right
                    +e.__title Курьерская доставка по Московской области
                    +e.__title-sm и за пределы Малого бетонного кольца
            +e.__middle--flex
                +b.del-item
                    +e.__list
                        +e.__li
                            +icon('i-time')
                            span От 2 до 5 дней
                        +e.__li
                            +icon('i-wallet')
                            span 25 руб. за 1 км
            +e.__bottom
                p Осуществляется по предварительному согласованию и после предоплаты стоимости доставки.
        +b.info-item
            +e.__top
                +e.__img
                    +icon('i-store')
                +e.__right
                    +e.__title Самовывоз
            +e.__bottom
                b Наш офис
                p Московская обл, г Люберцы, рп Томилино, 23-й км Новорязанского шоссе, д 21, склад № 3
                b Время работы пункта выдачи
                p ПН-ПТ с 09:00 до 16:30
                +e.__btn
                    a(href="").btn.btn--bordered Схема проезда
        +b.info-item
            +e.__top
                +e.__img
                    +icon('i-shipped')
                +e.__right
                    +e.__title Доставка по России
                    +e.__title-sm за пределы действия собственной курьерской службы
            +e.__middle
                p Отправка товара осуществляется в течение 1-2 рабочих дней после получения оплаты через сервис "Яндекс.Касса" или на расчётный счёт. Способ отправки заказа выбирает покупатель на основании данных о тарифе и сроке доставки из предложенных вариантов.
                b Стоимость согласовывается с менеджером
            +e.__bottom
                b Возможные варианты доставки по тарифу определяемому при заказе:
                ul.del-list
                    li Сеть постаматов и пунктов выдачи PickPoint
                    li Почта России (посылка до почтового отделения)
                    li EMS Почта России (посылка до двери)
                    li Курьерская компания СДЭК (посылка до двери)
                    li Курьерская компания СДЭК (экспресс-посылка до двери)
                +e.__mess Если ни один из вариантов для Вас неприемлем, можете предложить свой. Менеджером будет произведена тарификация и выставлен счёт.
        +e.__title Условия доставки
        +e('ul').__list
            li Курьерская доставка крупногабаритной и тяжеловесной техники осуществляется до подъезда. Просим Вас обеспечить все необходимое для принятия крупногабаритных и тяжеловесных заказов.
            li Перед доставкой клиент должен подтвердить по телефону или другим способом готовность принять и оплатить товар в согласованное время.
            li Если сотрудник курьерской службы не может связаться с клиентом для подтверждения, доставка в этот день не производится и переносится на другое согласованное время.
            li При доставке покупатель имеет право в присутствии курьера проверить внешний вид товара и комплектность поставки. Проверка работоспособности техники и подробная техническая консультация в обязанности курьера не входят.
            li Оплата товара осуществляется только в рублях РФ.
            li Желательно иметь сумму к оплате заказа без сдачи, а при невозможности этого, предупредить менеджера принимающего заказ о необходимости наличия у курьера сдачи с определённой суммы.
            li Курьерская доставка в офисные, торговые центры, промышленные территории, воинские части осуществляется до входа (проходной, ресепшн, КПП и т.д.).
            li Ожидание экспедитором клиента на месте доставки ограничено десятью минутами. Поймите нас правильно, другие клиенты тоже ждут свои заказы.
            li При автомобильной доставке должна быть обеспечена возможность безопасной парковки автомобиля (отсутствие запрета на парковку и наличие свободного места). При невозможности обеспечения безопасной парковки непосредственно у здания, клиент оплачивает дополнительный пронос техники от места безопасной парковки.
            li Обращаем Ваше внимание, что в холодное время года не рекомендуется включать оборудование сразу, поскольку при переносе с улицы в тёплое помещение возможно образование конденсата, что может привести к выходу изделия из строя. Желательно оставить его в тепле на несколько часов.
            li Внимание! В случае, если какие-либо непредвиденные обстоятельства помешают Вам получить заказ в согласованное время, необходимо связаться с нашим оператором по телефону +7 (495) 223-15-77 и согласовать доставку на другое время.
