extends layout/layout

block vars
    - var pageTitle = 'Главная страница'
    - var pageBodyClass = 'homepage'
    - var pageHeaderClass = ''

block content
    include components/banners-slider
    include components/products-slider
    +products-slider({
        title: 'Лидеры продаж'
    })
    +products-slider({
        title: 'Новинки'
    })
    include components/categories-section
    include components/brands-slider
    include components/content-section
