extends layout/layout

block vars
    - var pageTitle = 'Оплата'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    include components/breadcrumb
    +breadcrumb({
        content1: 'Оплата',
    })
    +b('section').pageheader
        .container
            +e('h1').__title.h1 Оплата
    +b.info-page.container
        +e.__mess Оплата товара осуществляется только в рублях РФ. Все цены на сайте указаны в рублях РФ и включают все установленные законом налоги.
        +b.info-item
            +e.__top
                +e.__img
                    +icon('i-wallet2')
                +e.__right
                    +e.__title Наличными при получении
            +e.__bottom
                p Оплата наличными возможна только при доставке собственной курьерской службой или самовывозе. Желательно иметь сумму к оплате заказа без сдачи, а при невозможности этого, предупредить менеджера принимающего заказ о необходимости наличия у курьера сдачи с определённой суммы.
        +b.info-item
            +e.__top
                +e.__img
                    +icon('i-bank')
                +e.__right
                    +e.__title Оплата на расчётный счёт в банке
            +e.__bottom
                p Доступна всем юридическим и физическим лицам. После получения заказа Вам высылается счет по электронной почте или по факсу. Счет действителен для оплаты в течении 5 дней. Цены при оплате с расчетного счета в банке такие же, как за наличный расчет.
        +b.info-item
            +e.__top
                +e.__img
                    +icon('i-credit')
                +e.__right
                    +e.__title Банковская карта, электронные деньги, наличные через терминал и пр.
            +e.__bottom
                p С помощью системы электронных платежей Яндекс.Касса. <i>Внимание!</i> В связи с обязательной фискализацией платежей оплата возможна в течении часа после редиректа (перехода) на сайт платёжной системы. Оплата по истечении часа или повторный переход по ссылке на оплату приведёт к технической ошибке и платёж не пройдёт. Если у Вас не получилось оплатить заказ сразу, но Вы планируете оплатить его позже - отправьте  запрос на новый счёт по адресу sale@comfort-max.ru с указанием номера заказа.
