extends layout/layout

block vars
    - var pageTitle = 'Личный кабинет'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    +b.personal.container
        .row
            +e.__aside.col-lg-3
                include components/aside
            +e.__main.col-lg-9
                +b.pageheader
                    +e('h1').__title.h2 Личный кабинет
                +e.__row.row
                    .col-md-6
                        +b.pitem-data
                            +e('a').__link(href="/") Редактировать
                            +e.__title Личные данные
                            +e.__label Имя и фамилия
                            +e.__text Александра Константинопольская
                            +e.__label E-mail
                            +e.__text alexandra@gmail.com
                            +e.__label Телефон
                            +e.__text +7 123 45 67
                    .col-md-6
                        +b.pitem-data
                            +e('a').__link(href="/") Редактировать
                            +e.__title Адрес доставки
                            +e.__label Страна
                            +e.__text Россия
                            +e.__label Город
                            +e.__text Москва
                            +e.__label Адрес
                            +e.__text пр. Мира, д. 10, к. 1, кв. 10
                +e.__title.h2 Последние заказы
                    a(href="/") Все заказы
                +b.history-item
                    +e.__top
                         +e.__num Заказ 12345
                         +e.__date 1 октября 2020
                         +e.__price 50 000 ₽
                         +e.__status
                             .pstatus.process В процессе
                         +e.__btn
                            a(href="/").btn.btn--gray.btn--small Повторить заказ
                    +e.__bottom
                        +e.__img-wrap
                            +e('img').__img(src="./assets/imgs/personal/p1.png" alt="img")
                        +e.__img-wrap
                            +e('img').__img(src="./assets/imgs/personal/p2.png" alt="img")
                        +e.__img-wrap
                            +e('img').__img(src="./assets/imgs/personal/p3.png" alt="img")
                        +e.__img-wrap
                            +e('img').__img(src="./assets/imgs/personal/p1.png" alt="img")
                        +e.__img-wrap
                            +e('img').__img(src="./assets/imgs/personal/p2.png" alt="img")
                        +e.__img-wrap
                            +e('img').__img(src="./assets/imgs/personal/p3.png" alt="img")
                        +e.__bottom-count +3

                +b.history-item
                    +e.__top
                        +e.__num Заказ 12345
                        +e.__date 1 октября 2020
                        +e.__price 50 000 ₽
                        +e.__status
                            .pstatus.delivered Доставлен
                        +e.__btn
                            a(href="/").btn.btn--gray.btn--small Повторить заказ
                    +e.__bottom
                        +e.__img-wrap
                            +e('img').__img(src="./assets/imgs/personal/p4.png" alt="img")
                        +e.__img-wrap
                            +e('img').__img(src="./assets/imgs/personal/p5.png" alt="img")




