extends layout/layout

block vars
    - var pageTitle = 'Самовывоз'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    include components/breadcrumb
    +breadcrumb({
        content1: 'Самовывоз',
    })
    +b('section').pageheader
        .container
            +e('h1').__title.h1 Самовывоз
    +b.info-page.container
        +e.__self-row.row
            .col-lg-6
                +e.__mess.info-page__mess--mb0 За 30-60 минут необходимо предупредить о визите по телефону (495) 223-15-77 и заказать пропуск на автомобиль.
            .col-lg-6
                a(href="/").btn.btn--bordered Посмотреть схему проезда на картах Яндекс
        +e.__map
            +e.__map-badge
                .title Наш офис
                .text Московская обл, г Люберцы, рп Томилино, 23-й км Новорязанского шоссе, д 21, склад № 3
                .title Время работы пункта выдачи
                .text ПН-ПТ с 09:00 до 16:30
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Acdb0444e2d543cf4dfba1818f4487e3b9075639ae054290ce8543f862edee27f&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
        +e.__content.content
            p Обратите особое внимание на схему проезда к пункту выдачи. Это упрощает нахождение требуемого места, поскольку не все навигаторы и карты корректно его находят по адресу.
            p Для страховки ниже приведены географические координаты:
            table
                tr
                    th
                    th Градусы°
                    th Градусы° минуты'
                    th Градусы°, минуты', секунды"
                tr
                    td Широта:
                    td N55.652527°
                    td N55° 39.152'
                    td N55° 39' 9.1"
                tr
                    td Долгота:
                    td E37.911061°
                    td E37° 54.664'
                    td E37° 54' 39.82"
            p Возможен так-же проезд общественным транспортом:
            p От станции метро "Котельники" автобусы №№ 324, 348, 351, 416, 424, 441, 478 до остановки на «Карьер»
            p От ЖД станции "Люберцы-1" автобус № 41 до остановки «Карьер».
            p По стеклянному, пешеходному мосту перейти на другую сторону Новорязанского шоссе. После перехода двигаться в сторону от Москвы примерно 750 метров. После склада "Петрович 24" повернуть налево и пройти ещё порядка 500 метров. Ваша цель - склад № 3.