//GRID
$lg: 1310px;
$md: 1024px;
$sm: 768px;
$xs: 576px;

//Цвета макета
$c-primary: #e92e27;//RED
$c-add: #0076af;
$c-text: #423D4A;//DARK
$c-text2: #84828D;


// Рандомные переменные проекта
$c-text3: #22262D;//BLACK
$c-text4: #2E2C34;//BLACK
$c-light: #F2F2F2;
$c-border: #D6D6D6;
$c-bg: #F7F7F7;
$box-shadow: 0 3px 20px rgba(0, 5, 115, 0.18);

// Размер шрифта
$font-size-base: 16px;


// Шрифты
$body-font: 'Montserrat', sans-serif;
$headers-font: 'Montserrat', sans-serif;
$add-font: 'Open Sans', sans-serif;

$add-font2: 'Gabriola', sans-serif;